
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%= link_to "Home", root_path %>
</button>
  <button type="button" class="btn btn-default"><%= link_to "About", about_path %>
</button>
 <button type="button" class="btn btn-default"><%= link_to "Form", form_path %>
</button>
</div>
